services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    environment:
      - NGINX_PORT=80
    ports:
      - "4200:80"
    depends_on:
      - backend

